* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  
  main {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #e07599, #efe8a3) ;
  }

  button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }

  .floating-button {
    position: fixed;  
    bottom: 20px; 
    right: 20px;      
    background-color: #8b8b8bb3;  
    color: white;               
    border: none;               
    border-radius: 50%;         
    padding: 15px;              
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);  
    cursor: pointer;            
    text-align: center;         
    font-size: 16px;            
    z-index: 5;              
    transition: background-color 0.3s;  
    &:hover{
        background-color: rgb(163, 157, 157);  
    }
}

.logo_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(45deg, #ff357a, #fff172);
    display: flex;
    justify-content: center;
    align-items: center
}


.small_logo_container {
    position: absolute;
    top: 0%; 
    left: 50%; 
    width: 10%;
    height: 10%;
    transform: translateX(-50%) scale(0.5); 
    background: transparent;
    transition: transform 0.5s, top 0.5s, left 0.5s, width 0.5s, height 0.5s ;
}


  .login {
    font-size: large;
    position: absolute;
    top: 0%;
    left: 95%;
    z-index: 5;
    width: fit-content;
    background-color: transparent;
    color: white;
    border-style: none;
    padding: 0.5rem;
    &:hover {
        background-color: rgba(255,255,255,0.3);
      }

  }
  
  /*下列是實現圖片滑動的部分*/
  .item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;   /*水平向上至中間的動畫會是0.1秒完成 而左邊緣 上邊緣 寬度 高度 會在0.75秒內 從原位置、尺寸變為新位置、尺寸*/
    
    &:nth-child(2) {    /*由於這段 故載入後會是第二張圖片(狗)*/
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
  }
  /*下列是設置文字樣式*/
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'arial-black';
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
    /*& button {
        width: fit-content;
        background-color: rgba(0,0,0,0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }*/
    
  }

  
  
  .item:nth-of-type(2) .content {   /*這段是文字動畫的部分 第二個即是載入後出現的內容(狗)*/
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {                    /*動畫開始*/
      filter: blur(5px);    /*模糊效果*/
      transform: translateY(calc(-50%));
    }
    100% {                  /*動畫結束*/
      opacity: 1;           /*透明度*/
      filter: blur(0);
    }
  }

  
  .nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;             /*層疊在第五層*/
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
  }

  